
<br>
<center><h1 style="background-color:lightgray ;" align="centre">Welcome to Homepage</h1></center>
<br>

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Articles Zone!</h1>
  <p class="lead">Find Computer programming articles. Search Here Now! Search For Computer programming articles With Us.Programming is at the heart of open source software. Learning programming is a great way to explore new ideas and create programs that are useful for you. This year, Opensource.com authors shared many excellent articles about programming, from how new programmers can get started, to how experts can learn more about the details. Here are some articles to get you excited about programming.Programming is hard work, but it's also a lot of fun. Read up on a new library, a new language, or a new technique, and then go and put it into practice. And of course, make it open source!

</p>
  <hr class="my-4">
  <p>Dedicated to the idea that good thinking and good ideas arise from different perspectives.</p>
  <p class="lead">
    
    <%=link_to'Articles listing',articles_path ,class:"btn btn-primary"%>
  </p>
</div>

